.resume {
    min-height: calc(100vh - 284px);
    margin: 0 auto;
    width: 70vw;

    &__title {
        margin: 1.5em 0 0.2em 0;
        font-size: 4em;
        color: $gold-color;
        font-weight: bold;
    }

    &__subtitle {
        color: $grey-color;
        font-size: 1.5em;
        margin: 0.3em 0 1em 0;
        font-style: italic; 
        display: flex;
        max-width: 35%;

        &::after {
            content: "";
            flex: 1 1;
            border-bottom: 2px solid $grey-color;
            margin: auto;
            margin-left: 1em;
        }
    }

    &__formation {

        &__title {
            font-size: 3em;
            color: $grey-color;
            font-weight: bold;
            margin-top: 2.5em;
        }
    }

    &__skills {
        display: flex;
        margin: 6em 0 0 0;
        
        

       &__lists {
            width: 100%;
            
            
            flex-flow: wrap column;

            &__subtitle {
                margin: 0 0 1.5em 0;
                font-size: 2em;
                color: $white-color;
                font-weight: bold;
                text-align: center;
                
            }

            &__list {
                
                border-right: 2px solid grey;
                
                
                
    
                &__element {
                    margin: 1em 0 0 0;
                    font-size: 1.5em;
                    color: $grey-color;
                    font-style: italic;
                    text-align: center;
                    
                }
            }

        }
       
    }
    
    &__experience {

        &__title {
            font-size: 3em;
            color: $grey-color;
            font-weight: bold;
            margin-top: 2.5em;
        }

        &__article {
            
            &__title {
                font-size: 2.5em;
                font-weight: bold;
                margin: 2em 1em 1em 1em;
                color: $white-color;

            }

            &__description {
                color: $grey-color;
                font-size: 1.5em;
                margin: 1em 1em 2em 1.8em;
                font-style: italic; 
                
            }

            &__link {
                color: $grey-color;
                font-size: 1.8em;
                margin: 1em 1em 1em 1.4em;
                text-decoration: none;
                text-transform: uppercase;
                font-style: italic;
                background: linear-gradient(to top, $white-color 0%, $white-color 5%, transparent 5.01%) no-repeat;
                background-size: 0 100%;
                transition: background-size 0.2s;
                
                &:hover {
                    color: $white-color;
                    transition: 0.5s ease-in-out;
                    background-size: 100% 100%;
                    
                }
            }
        }
    }

    &__training {

        &__title {
            font-size: 3em;
            color: $grey-color;
            font-weight: bold;
            margin-top: 2.5em;
        }

        &__article {
            
            &__title {
                font-size: 2.5em;
                font-weight: bold;
                margin: 2em 1em 1em 1em;
                color: $white-color;

            }

            &__description {
                color: $grey-color;
                font-size: 1.5em;
                margin: 1em 1em 1em 1.8em;
                font-style: italic; 
                
    
            }
        }
    }

    &__links {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 6em;
        
        &__link {
            color: $gold-color;            
        }

        &__button {
            font-size: 1.3em;
            padding: 1em 3em;
            color: $gold-color;
            background-color: $dark-color;
            border-radius: 50px;
            border: 1px solid $gold-color;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: $white-color;
                color: $dark-color;
                cursor: pointer;
            }
        }
    }
}