.about {
    min-height: calc(100vh - 334px);
    margin: 4em auto;
    width: 70vw;

    &__maintitle {

        &__title {
            margin: 1.5em 0 0.2em 0;
            font-size: 4em;
            color: $gold-color;
            font-weight: bold;
    
            &__description {
                color: $grey-color;
                font-size: 1.5em;
                margin: 0.3em 0;
                font-style: italic; 
                display: flex;
                max-width: 25%;
                margin-bottom: 2em;
    
                &::after {
                    content: "";
                    flex: 1 1;
                    border-bottom: 2px solid $grey-color;
                    margin: auto;
                    margin-left: 1em;
                }
            }
        }
    
        
    }

    &__section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__article {
            width: 60%;
            
    
            &__text {
                color: $white-color;
                font-size: 1.5em;
                line-height: 1.5em;
                margin-right: 4em;
                
                
            }
            
        }
    
        &__img {
            width: 50%;
            margin-left: 4em;
            display: flex;
            align-items: flex-end;
            
    
            &__picture {
                width: 70%;
                border-radius: 50px;
                // border: 2px solid $gold-color;
               
                
            }
        }
    }
  

    
}