.projects {
    // min-height: calc(100vh - 284px);
    // margin: 0 auto;
    // width: 70vw;
    // height: 100%;
    @include media(">=tablet") {
        // min-height: calc(100vh - 12px);
        // max-width: 1280px;
      }

    &__maintitle {

        &__title {
            margin: 1.5em 0 0.2em 0;
            font-size: 4em;
            color: $gold-color;
            font-weight: bold;
        }
    
        &__subtitle {
            color: $grey-color;
            font-size: 1.5em;
            margin: 0.3em 0 1em 0;
            font-style: italic; 
            display: flex;
            max-width: 25%;
    
            &::after {
                content: "";
                flex: 1 1;
                border-bottom: 2px solid $grey-color;
                margin: auto;
                margin-left: 1em;
            }
        }
    }
    
    &__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8em;
        @include media(">=tablet") {
            min-height: calc(100vh - 12px);
            max-width: 1280px;
          }

        &__project {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            justify-content: space-around;
            
            &__description {
                font-size: 1.8em;
                color: $grey-color;
                font-style: italic;
            }

            &__lists {
                margin: 2em 0 0 0;
                font-size: 2em;
                color: $white-color;

                &__first {
                    font-size: 1.6rem;
                    margin-top: 1.5em;
                    font-style: italic;
                    color: $grey-color;
                }

                &__list {
                    font-size: 1.6rem;
                    margin-top: 0.5em;
                    font-style: italic;
                    color: $grey-color;
                }

               
            }
            
            &__links {
                display: flex;
                align-items: center;
                flex-direction: column;
                max-width: 40%;

                &__img {
                    width: 100%;
                    border-radius: 50px;
                    margin-top: 1em;
                }
                
                &__link {
                    color: $grey-color;
                    text-decoration: none;
                    font-size: 2em;
                    text-align: center;
                    
        
                    &:hover {
                       
                    }
                }
            }
        }
    }
   
}